<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mountain-Dew</title>
    <script src="https://kit.fontawesome.com/fb139b7f2d.js" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="social pull-left">
                            <ul>
                                <li><a href=""><i class="fa-solid fa-mountain-sun"></i>&nbsp;Moutain Dew</a></li>
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="action pull-right">
                            <ul>
                                <li>
                                    <!-- 홈키 -->
                                    <i class="fa fa-home" style="color: white;"></i>
                                    <a href="/" role="button">Home</a>
                                </li>
                                <li>
                                    <!-- 로그인/로그아웃 -->
                                    {{#userid}}
                                        <i class="fa fa-user" style="color: white;"></i>
                                        <a href="/log-out"  role="button" onclick="showLogoutPopup()">Logout</a>
                                        <script>
                                            function showLogoutPopup() {
                                                var message = "로그아웃 되었습니다.";
                                                alert(message);
                                            }
                                        </script>
                                    {{/userid}}
                                    {{^userid}}
                                        <i class="fa fa-user" style="color: white;"></i>
                                        <a href="/log-in" role="button">Login</a>
                                    {{/userid}}
                                </li>
                                <li>
                                    <!-- 회원가입 -->
                                    <i class="fa fa-lock" style="color: white;"></i>
                                    <a href="/register" role="button"> Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation" style="background-color: blue;">
            <nav class="navbar navbar-theme">
                <div class="container">
                    <!-- 메뉴바-->
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav navbar-right">
                            {{#userid}}
                                <li><a href="/MyPage/{{userid}}">My Page</a></li>
                            {{/userid}}

                            <li><a href="/news">News</a></li>
                            <li><a href="/pmntn">Tracking Info</a></li>
                            <li><a href="/tracking-road">Tracking Road</a></li>

                            <li><a href="/finds">Find Duo</a></li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </header>
