{{>layout/header}}
<div class="container">
    <div class="col-md-12">
        <form action="/posts/save" method="get">
            <button href="/posts/save">글 등록</button>
        </form>

        <form method="get">
            <input type="text" name="searchQuery" id="search-box">
            <button type="submit">산 검색</button>
            <script>
                function search() {
                    var searchQuery = document.getElementById('search-box').value;
                    window.location.href = '/finds/' + searchQuery;
                }
            </script>
        </form>
        <!-- 게시글 리스트 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">글 번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">산 이름</th>
                <th scope="col">등산 날짜</th>
            </tr>
            </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{createdDate}}</td>
                <td>{{climbing_mountain}}</td>
                <td>{{climbing_date}}</td>
            </tr>
        {{/posts}}
        </tbody>
        </table>
    </div>
</div>
<script src="/js/app/index.js"></script>
{{>layout/footer}}
