<!--{{>layout/header}}-->
<!--    <div class="content">-->
<!--        <div class="container pmntn">-->
<!--            <h1 style="margin-left: 20px; margin-bottom: 20px; text-align: left; font-size: 20px; padding: 10px 0px;">등산로 찾기</h1>-->
<!--            <nav class="filter">-->
<!--                <div class="space">-->
<!--                    <form>-->
<!--                        <label for="level">난이도</label>-->
<!--                        <select name="level" id="level">-->
<!--                            <option value="#">전체</option>-->
<!--                            <option value="1">1</option>-->
<!--                            <option value="2">2</option>-->
<!--                            <option value="3">3</option>-->
<!--                        </select>-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div class="space">-->
<!--                    <form>-->
<!--                        <label for="time">소요시간</label>-->
<!--                        <select name="time" id="time">-->
<!--                            <option value="#">전체</option>-->
<!--                            <option value="0">~60분</option>-->
<!--                            <option value="1">1~2시간</option>-->
<!--                            <option value="2">2~3시간</option>-->
<!--                            <option value="3">3~4시간</option>-->
<!--                            <option value="4">4~5시간</option>-->
<!--                            <option value="5">5~6시간</option>-->
<!--                            <option value="6">6~7시간</option>-->
<!--                            <option value="7">7시간~</option>-->
<!--                        </select>-->
<!--                    </form>-->
<!--                </div>-->
<!--&lt;!&ndash;                <div class="space">&ndash;&gt;-->
<!--&lt;!&ndash;                    <form action="search" method="get">&ndash;&gt;-->
<!--&lt;!&ndash;                        <label for="pmntnsn">등산로 번호</label>&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="text" id="pmntnsn" name="pmntnsn" placeholder="등산로 번호를 입력하세요." required>&ndash;&gt;-->
<!--&lt;!&ndash;                    </form>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--                <div class="space" id="leveltime">-->
<!--                    <a href="/pmntn/search" class="btn-search">검색</a>-->
<!--                </div>-->
<!--            </nav>-->
<!--            <table class = "table">-->
<!--                <thead class="table-head">-->
<!--                <tr>-->
<!--                    <th><b>산</b></th>-->
<!--                    <th><b>등산로</b></th>-->
<!--                    <th><b>총 거리</b></th>-->
<!--                    <th><b>난이도</b></th>-->
<!--                    <th><b>소요시간</b></th>-->
<!--                    <th><b>상세경로</b></th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                {{#pmntnSearched}}-->
<!--                    <tr>-->
<!--                        <td><a href="#">{{pmntnSn}}</a></td>-->

<!--                        <td class="pmntn_detail">{{mntnNm}}&nbsp{{pmntnNm}}</td>-->
<!--                        <td>{{pmntnLt}}km</td>-->
<!--                        <td>{{pmntnDffl}}</td>-->
<!--                        <td class="pmntn_tm">{{pmntnTm}}분</td>-->
<!--                        <td class="pmntn_detail">{{pmntnMain}}</td>-->
<!--                    </tr>-->
<!--                {{/pmntnSearched}}-->
<!--                </tbody>-->
<!--            </table>-->
<!--    &lt;!&ndash;        {{#username}}&ndash;&gt;-->
<!--    &lt;!&ndash;            <div>&ndash;&gt;-->
<!--    &lt;!&ndash;                <a href="write.jsp" class="btn btn-primary">글쓰기</a>&ndash;&gt;-->
<!--    &lt;!&ndash;            </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        {{/username}}&ndash;&gt;-->

<!--        </div>-->
<!--        <div class="page">-->
<!--            <a>페이지: {{page}}</a>-->
<!--            <form action="page" method="get">-->
<!--                <a href="#" class="previous round" id="pageminus">&#8249;</a>-->
<!--                <a href="#" class="next round" id="pageplus">&#8250;</a>-->
<!--                &lt;!&ndash;            <label for="pagenm">page 번호</label>&ndash;&gt;-->
<!--                &lt;!&ndash;            <input type="text" id="pagenm" name="pagenm" placeholder="페이지 번호" >&ndash;&gt;-->
<!--                &lt;!&ndash;            &nbsp&ndash;&gt;-->
<!--                &lt;!&ndash;            <button type="submit" class="btn btn-primary">검색</button>&ndash;&gt;-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--{{>layout/footer}}-->